---
const { t } = Astro.props; // Recibimos la función de traducción
const data = t("about");
---

<section id="acerca" class="py-20 bg-light text-primary">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <h2 class="text-4xl md:text-5xl font-serif font-light text-primary mb-6">{data.title}</h2>
      <div class="w-24 h-px bg-amber-600 mx-auto"></div>
    </div>

    <div class="grid md:grid-cols-2 gap-12 items-center ">
      <!-- Imagen -->
      <div class="order-2 md:order-1 ">
        <img src="profile.png" alt={data.title} class="w-full h-auto rounded-lg shadow-lg" />
      </div>

      <!-- Contenido -->
      <div class="order-1 md:order-2 space-y-6">
        {data.paragraphs.map((p) => (
          <p class="text-lg text-text-light leading-relaxed">{p}</p>
        ))}

        <!-- Botones sociales -->
        <div class="flex space-x-4">
          {data.socialLinks.map((link) => (
            <a
              href={link.url}
              class={`inline-flex items-center px-4 py-2 border-2 ${link.bgColor} transition-all duration-300 text-sm font-medium`}
            >
              <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 24 24">
                <path d={link.icon} />
              </svg>
              {link.name}
            </a>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>
