---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Projects from '../../components/Projects.astro';
import Knowledge from '../../components/Knowledge.astro';
import Skills from '../../components/Skills.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import LanguageSwitcher from "../../components/LanguageSwitcher.astro";

import '../../styles/global.css';

import { useTranslations, type Lang } from '../../i118n/index.ts';

// Definir idiomas disponibles
export async function getStaticPaths() {
  return ['es', 'en', 'de'].map(lang => ({ params: { lang } }));
}

const { lang } = Astro.params as { lang: Lang };

// Obtener función de traducciones
const t = useTranslations(lang);
---

<Layout title={t('meta.title')} lang={lang}>
  <Navigation t={t} lang={lang} />
  <main>
    <Hero t={t} />
    <About t={t} />
    <Projects t={t} />
    <Knowledge t={t} />
    <Contact t={t} />
  </main>
  <Footer t={t} />
</Layout>
